<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"> <!-- Define o conjunto de caracteres como UTF-8 para suportar caracteres especiais -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura a escala inicial e a largura da visualização para dispositivos móveis -->
    <link rel="stylesheet" href="/static/css/editar.css">
    <title>Editar Filme</title> <!-- Define o título da página -->
</head>
<body>
  <!-- Início do Cabeçalho -->
    <header>
        <!-- imagem -->
        <img class="logo" src="/static/img/coracao.png" alt="Coração">
        <nav class="fonts">
            <!-- botões -->
            <div>
                <a href="" class="home">
                HOME >
            </a>
            </div>
            <div>
                <a href="" class="página de contato">
                    CONTATO >
                </a>
            </div>
            <div>
                <a href="/mais.html" class="mais">
                    MAIS >
                </a>
            </div>
        </nav>
    </header>
    <!-- fim do cabeçalho -->
</br>
    <h1 class="h11">Editar Filmes</h1> <!-- Título principal da página -->
  <center><br><br>
    <form action="/editar_filme/{{ filme[1] }}" method="POST"> <!-- Formulário para editar um filme. O 'action' indica para onde os dados do formulário serão enviados e o 'method' indica o método HTTP usado (neste caso, POST) -->
    <div class="coolinput">
        <label for="filme1" class="text">Filme:</label> <!-- Rótulo e campo de entrada para o nome do contato -->
        <input type="text" placeholder="Digite aqui" id="filme1" name="nome" value = "{{filme[2]}}" class="input"> <!-- Campo de entrada para o nome do filme -->
    </div>
        </br></br>
        <button class="botcal" type="submit" value="Salvar"><span>Salvar</span></button><br><br>
    </form>
  </center>
</body>
 <!-- início do rodapé -->
<footer>
        <!-- copyright -->
    <section class="direitos">
        <p class="p3">© 2024. Todos os direitos reservados.</p>
    </section>
</footer>
    <!-- fim do rodapé -->
</html>