<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"> <!-- Define o conjunto de caracteres como UTF-8 para suportar caracteres especiais -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura a escala inicial e a largura da visualização para dispositivos móveis -->
    <title>Adicionar Filme</title> <!-- Define o título da página -->
    <link rel="stylesheet" href="/static/css/adicionar.css">
</head>
<body>
    <!-- Início do Cabeçalho -->
    <header>
        <!-- imagem -->
        <img class="logo" src="static/img/coracao.png" alt="Coração">
        <nav class="fonts">
            <!-- botões -->
            <div>
                <a href="" class="home">
                HOME >
            </a>
            </div>
            <div>
                <a href="" class="página de contato">
                    CONTATO >
                </a>
            </div>
            <div>
                <a href="/" class="mais">
                    MAIS >
                </a>
            </div>
        </nav>
    </header>
    <!-- fim do cabeçalho -->
    <br>
    <h1 class="h11">Página de Filmes</h1> <!-- Título principal da página -->
    <br><br>
    <center>
        <form action="/adicionar_filme" method="POST"> <!-- Formulário para adicionar um novo filme. -->
            <div class="coolinput">
                <label for="nomedofilme" class="text">Filme:</label>
                <input type="text" placeholder="Digite aqui" id="nomedofilme" name="nome" class="input">
            </div>
            <br><br>
            <button class="botcal" type="submit" value="Adicionar"><span>Adicionar</span></button><br><br>
        </form>
    </center>
</body>
   <!-- início do rodapé -->
<footer>
        <!-- copyright -->
    <section class="direitos">
        <p class="p3">© 2024. Todos os direitos reservados.</p>
    </section>
</footer>
    <!-- fim do rodapé -->
</html>