<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- conjunto de caracteres como UTF-8 para caracteres especiais -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- escala inicial e a largura da visualização para dispositivos móveis -->
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Página de Rotas</title> <!-- título da página -->
</head>
<body class="body">
  <!-- Início do Cabeçalho -->
    <header>
        <!-- imagem -->
        <img class="logo" src="static/img/coracao.png" alt="Coração">
        <nav class="fonts">
            <!-- botões -->
            <div>
                <a href="" class="home">
                HOME >
            </a>
            </div>
            <div>
                <a href="" class="contato">
                    CONTATO >
                </a>
            </div>
            <div>
                <a href="/" class="mais">
                    MAIS >
                </a>
            </div>
        </nav>
    </header>
    <!-- fim do cabeçalho -->

<!--  início das rotas -->
    <h1>Lista de Filmes</h1>

  <ul>
        {% for filme in filmes %}
        <li class="listafilmes">{{ filme[1] }} - {{ filme[2]}}<!-- Exibe as informações do contato, incluindo o nome -->
            <ul>
                <li><a href="/editar_filme/{{ loop.index0 }}">Editar</a></li> <!-- Link para editar o filme -->
                <li><a href="/apagar_filme/{{ loop.index0 }}">Apagar</a></li> <!-- Link para apagar o filme -->
            </ul>
        </li>
        {% endfor %}
    </ul>
     <section class="bot-agenda">
        <a href="/adicionar_filme">
            <button class="learn-more">
              <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
              </span>
              <span class="button-text">Adicionar Filme</span>
            </button>
        </a>
     </section>
<!--  fim das rotas -->

    <!-- início do rodapé -->
<footer class="footer">

            <!-- copyright -->
        <div class="direitos">
            <p class="p3">© 2024. Todos os direitos reservados.</p>
        </div>
</footer>
  <!--fim do rodapé-->
</body>
</html>

